<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CitizenUp</title>
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand">CitizenUp</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">Why</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">When</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">How</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">Who</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main">
      {{ content }}
    </main>
  </body>
</html>